<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pictureMapper">
	
	<!-- 增加图片库信息 -->
	<insert id="addPicture" parameterType="map">
		INSERT INTO `cbjc_picture` (picturename, picturepath,pictureurl,web)
		VALUES (#{picturename},#{picturepath},#{pictureurl},#{web})
	</insert>
	<!-- 批量增加图片库信息 -->
	<insert id="insertPictureList" parameterType="java.util.List">
        INSERT INTO cbjc_picture (picturename,picturepath,pictureurl,web)
        VALUES
        <foreach collection="list" item="picture" index="index" separator=",">
         (
         #{picture.picturename},
         #{picture.picturepath},
         #{picture.pictureurl},
         #{picture.web}
         )
        </foreach>
    </insert>
	
</mapper>
